In [60]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("dunkin_stores.csv")
df.head(10)

Saving dunkin_stores.csv to dunkin_stores (2).csv

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True,NaN,NaN
2,2,1700 US Highway 72 E,NaN,Athens,AL,35611,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,34.781698,-86.934524
3,3,171 N College St,NaN,Auburn,AL,36830,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,...,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False,32.608800,-85.481849
4,4,2049 S College St,NaN,Auburn,AL,36832,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,32.567323,-85.501589
5,5,2178 Eastern Valley Rd,NaN,Bessemer,AL,35022,(205) 425-1333,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,...,6:00 AM - 4:00 PM,7:00 AM - 4:00 PM,True,True,True,True,False,False,33.334624,-86.995903
6,6,1820 Gadsden Hwy,Ste 100,Birmingham,AL,35235,(205) 533-8295,6:00 AM - 7:00 PM,6:00 AM - 7:00 PM,6:00 AM - 7:00 PM,...,6:00 AM - 7:00 PM,6:00 AM - 7:00 PM,True,True,True,True,False,False,NaN,NaN
7,7,2109 6th Ave S,NaN,Birmingham,AL,35233,(205) 297-8777,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,...,6:00 AM - 4:00 PM,7:00 AM - 5:00 PM,True,True,True,True,False,False,33.507720,-86.798970
8,8,300 Commons Dr,NaN,Birmingham,AL,35209,(205) 518-5250,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,33.441958,-86.830757
9,9,400 Cahaba Park Cir,Suite 1,Birmingham,AL,35242,(205) 502-7311,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,5:00 AM - 6:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,True,False,True,True,False,False,NaN,NaN

In [61]:
df.tail()

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
9243,9243,106 W Silver Spring Dr,Ste A,Whitefish Bay,WI,53217,(414) 284-7608,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 4:00 PM,False,False,True,True,False,False,NaN,NaN
9244,9244,2415 Wisconsin Dells Pkwy,NaN,Wisconsin Dells,WI,53965,(608) 253-5353,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,...,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False,43.625933,-89.787100
9245,9245,69 Commerce St,NaN,Wisconsin Dells,WI,53965,(608) 350-9029,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,...,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False,NaN,NaN
9246,9246,2121 8th St S,NaN,Wisconsin Rapids,WI,54494,(715) 204-5260,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,False,44.375934,-89.816898
9247,9247,6305 Missile Dr,NaN,FE Warren AFB,WY,82005,(307) 637-2818,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,...,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,True,True,True,True,False,True,NaN,NaN

In [63]:
df.shape

(9248, 22)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9248 entries, 0 to 9247
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row_id              9248 non-null   int64
 1   address_line_1      9248 non-null   object
 2   address_line_2      1763 non-null   object
 3   city                9248 non-null   object
 4   state               9248 non-null   object
 5   zip                 9248 non-null   int64
 6   phone               9126 non-null   object
 7   mon_hrs             9248 non-null   object
 8   tue_hrs             9248 non-null   object
 9   wed_hrs             9248 non-null   object
 10  thu_hrs             9248 non-null   object
 11  fri_hrs             9248 non-null   object
 12  sat_hrs             9248 non-null   object
 13  sun_hrs             9248 non-null   object
 14  drive-thru          9248 non-null   bool
 15  mobile-order        9248 non-null   bool
 16  dunkin-card         9248 non-null   bool
 17  kcup                9248 non-null   bool
 18  curbside-pickup     9248 non-null   bool
 19  has-baskin-robbins  9248 non-null   bool
 20  loc_lat             6150 non-null   float64
 21  loc_long            6150 non-null   float64
dtypes: bool(6), float64(2), int64(2), object(12)
memory usage: 1.2+ MB

In [64]:
df.describe()

            row_id           zip      loc_lat     loc_long
count  9248.000000   9248.000000  6150.000000  6150.000000
mean   4623.500000  25080.123811    39.234805   -79.167361
std    2669.811978  23135.058349     4.544442     9.207178
min       0.000000   1001.000000    21.333978  -157.923945
25%    2311.750000   7087.000000    38.950532   -82.728485
50%    4623.500000  18047.000000    40.815473   -75.651207
75%    6935.250000  34136.500000    41.990081   -73.246384
max    9247.000000  99583.000000    48.583301   -67.280723

In [65]:
df.nunique()

row_id                9248
address_line_1        9144
address_line_2         970
city                  3126
state                   45
zip                   5062
phone                 8989
mon_hrs                235
tue_hrs                230
wed_hrs                227
thu_hrs                230
fri_hrs                231
sat_hrs                229
sun_hrs                229
drive-thru               2
mobile-order             2
dunkin-card              2
kcup                     2
curbside-pickup          2
has-baskin-robbins       2
loc_lat               6095
loc_long              6095
dtype: int64

In [87]:
df.address_line_1.value_counts()

JFK Intl Airport         14
Logan Airport             8
Newark Int'L Airport      6
Ronald Reagan Airport     6
Dfw Int. Airport          5
                         ..
325 Gorham Rd             1
169 Main St               1
190 Route 3               1
175 Main St               1
6305 Missile Dr           1
Name: address_line_1, Length: 9144, dtype: int64

In [67]:
df.corr()

,row_id,zip,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
row_id,1.000000,-0.210250,-0.082110,-0.007624,-0.024763,0.001966,0.003095,-0.000629,0.267636,0.238835
zip,-0.210250,1.000000,0.131469,-0.060957,-0.142236,-0.120017,-0.024147,0.165096,-0.373275,-0.934167
drive-thru,-0.082110,0.131469,1.000000,0.219475,0.303790,0.248717,-0.165453,0.005350,-0.078854,-0.110184
mobile-order,-0.007624,-0.060957,0.219475,1.000000,0.545578,0.346439,0.059771,0.066413,0.047004,0.060926
dunkin-card,-0.024763,-0.142236,0.303790,0.545578,1.000000,0.575472,0.113637,0.093784,0.081163,0.165668
kcup,0.001966,-0.120017,0.248717,0.346439,0.575472,1.000000,0.105222,0.067677,0.011256,0.128884
curbside-pickup,0.003095,-0.024147,-0.165453,0.059771,0.113637,0.105222,1.000000,0.083450,-0.046647,0.019471
has-baskin-robbins,-0.000629,0.165096,0.005350,0.066413,0.093784,0.067677,0.083450,1.000000,-0.059153,-0.123216
loc_lat,0.267636,-0.373275,-0.078854,0.047004,0.081163,0.011256,-0.046647,-0.059153,1.000000,0.388220
loc_long,0.238835,-0.934167,-0.110184,0.060926,0.165668,0.128884,0.019471,-0.123216,0.388220,1.000000

In [68]:
df.columns

Index(['row_id', 'address_line_1', 'address_line_2', 'city', 'state', 'zip',
       'phone', 'mon_hrs', 'tue_hrs', 'wed_hrs', 'thu_hrs', 'fri_hrs',
       'sat_hrs', 'sun_hrs', 'drive-thru', 'mobile-order', 'dunkin-card',
       'kcup', 'curbside-pickup', 'has-baskin-robbins', 'loc_lat', 'loc_long'],
      dtype='object')

In [69]:
df_new = df[['row_id','city', 'state','address_line_1', 'address_line_2',
       'phone', 'mon_hrs', 'tue_hrs', 'wed_hrs', 'thu_hrs', 'fri_hrs',
       'sat_hrs', 'sun_hrs', 'drive-thru', 'mobile-order', 'dunkin-card',
       'kcup', 'curbside-pickup', 'has-baskin-robbins']]
df_new.head(3)

,row_id,city,state,address_line_1,address_line_2,phone,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
0,0,Alabaster,AL,1114 1st St N,Suite 200,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False
1,1,Albertville,AL,8171 US Highway 431,NaN,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True
2,2,Athens,AL,1700 US Highway 72 E,NaN,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False

In [70]:
df_new.isna().sum()

row_id                   0
city                     0
state                    0
address_line_1           0
address_line_2        7485
phone                  122
mon_hrs                  0
tue_hrs                  0
wed_hrs                  0
thu_hrs                  0
fri_hrs                  0
sat_hrs                  0
sun_hrs                  0
drive-thru               0
mobile-order             0
dunkin-card              0
kcup                     0
curbside-pickup          0
has-baskin-robbins       0
dtype: int64

In [71]:
df_new[df_new['phone'].isna()]

,row_id,city,state,address_line_1,address_line_2,phone,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
23,23,Helena,AL,2536 Helena Rd,Ste D,NaN,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 12:00 AM,6:00 AM - 8:00 PM,False,False,False,False,False,False
25,25,Hoover,AL,5413 US 280,Ste 100,NaN,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 12:00 AM,6:00 AM - 8:00 PM,False,False,False,False,False,False
54,54,False Pass,AK,1700 Umiak Dr,NaN,NaN,3:00 AM - 7:00 PM,3:00 AM - 7:00 PM,3:00 AM - 7:00 PM,3:00 AM - 7:00 PM,3:00 AM - 7:00 PM,3:00 AM - 7:00 PM,3:00 AM - 7:00 PM,False,False,False,False,False,False
55,55,False Pass,AK,1800 Umiak Dr,NaN,NaN,12:00 AM - 12:00 AM,3:00 AM - 7:00 PM,12:00 AM - 12:00 AM,Open 24 Hours,Open 24 Hours,Open 24 Hours,Open 24 Hours,False,False,False,False,False,False
71,71,Flagstaff,AZ,4419 N US Highway 89,NaN,NaN,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,5:00 AM - 7:00 PM,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,8769,La Porte,TX,1900 Highway 146 S,NaN,NaN,4:00 AM - 5:00 PM,4:00 AM - 5:00 PM,4:00 AM - 5:00 PM,4:00 AM - 5:00 PM,4:00 AM - 5:00 PM,5:00 AM - 5:00 PM,6:00 AM - 5:00 PM,False,True,True,False,False,False
8785,8785,Missouri City,TX,6231 Highway 6,NaN,NaN,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,True,False,True,False,False,False
8976,8976,Fredericksburg,VA,5459 Plank Rd,NaN,NaN,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 8:30 PM,True,False,True,True,True,False
9131,9131,Washington,DC,"2420 New York Ave, NE",NaN,NaN,6:00 AM - 9:00 PM,6:00 AM - 9:00 PM,6:00 AM - 9:00 PM,6:00 AM - 9:00 PM,6:00 AM - 9:00 PM,6:00 AM - 9:00 PM,6:00 AM - 9:00 PM,True,True,True,True,False,True
9151,9151,Falling Waters,WV,88 Corporate Blvd W,Ste C,NaN,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,False,False,False,False,False,False

In [72]:
df_new.dtypes

row_id                 int64
city                  object
state                 object
address_line_1        object
address_line_2        object
phone                 object
mon_hrs               object
tue_hrs               object
wed_hrs               object
thu_hrs               object
fri_hrs               object
sat_hrs               object
sun_hrs               object
drive-thru              bool
mobile-order            bool
dunkin-card             bool
kcup                    bool
curbside-pickup         bool
has-baskin-robbins      bool
dtype: object

In [73]:
df_new['phone'].value_counts()

(800) 447-0013    28
(913) 396-6316     7
(305) 267-8510     5
(716) 206-3093     5
(718) 751-4797     4
                  ..
(410) 545-0512     1
(443) 219-4000     1
(703) 772-6283     1
(410) 929-8724     1
(307) 637-2818     1
Name: phone, Length: 8989, dtype: int64

In [74]:
df_new[df_new['address_line_2'].isna()]

,row_id,city,state,address_line_1,address_line_2,phone,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
1,1,Albertville,AL,8171 US Highway 431,NaN,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True
2,2,Athens,AL,1700 US Highway 72 E,NaN,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False
3,3,Auburn,AL,171 N College St,NaN,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False
4,4,Auburn,AL,2049 S College St,NaN,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False
5,5,Bessemer,AL,2178 Eastern Valley Rd,NaN,(205) 425-1333,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,6:00 AM - 4:00 PM,7:00 AM - 4:00 PM,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9242,9242,Weston,WI,4020 Schofield Ave,NaN,(715) 409-1843,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False
9244,9244,Wisconsin Dells,WI,2415 Wisconsin Dells Pkwy,NaN,(608) 253-5353,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False
9245,9245,Wisconsin Dells,WI,69 Commerce St,NaN,(608) 350-9029,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False
9246,9246,Wisconsin Rapids,WI,2121 8th St S,NaN,(715) 204-5260,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,False
9247,9247,FE Warren AFB,WY,6305 Missile Dr,NaN,(307) 637-2818,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,True,True,True,True,False,True

In [75]:
df_new.drop('address_line_2', inplace=True, axis=1)
df_new.head(2)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,row_id,city,state,address_line_1,phone,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
0,0,Alabaster,AL,1114 1st St N,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False
1,1,Albertville,AL,8171 US Highway 431,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True

In [76]:
df_new["phone"].fillna('0123456789', inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [77]:
df_new.isna().sum()

row_id                0
city                  0
state                 0
address_line_1        0
phone                 0
mon_hrs               0
tue_hrs               0
wed_hrs               0
thu_hrs               0
fri_hrs               0
sat_hrs               0
sun_hrs               0
drive-thru            0
mobile-order          0
dunkin-card           0
kcup                  0
curbside-pickup       0
has-baskin-robbins    0
dtype: int64

In [78]:
print(df_new.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
9243    False
9244    False
9245    False
9246    False
9247    False
Length: 9248, dtype: bool

In [79]:
df_new['kcup']=df_new['kcup']*1
df_new['mobile-order']=df_new['mobile-order']*1
df_new['dunkin-card']=df_new['dunkin-card']*1
df_new['curbside-pickup'] =df_new['curbside-pickup']*1
df_new['has-baskin-robbins']=df_new['curbside-pickup']*1 
df_new['drive-thru']=df_new['drive-thru']*1 


df_new

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,row_id,city,state,address_line_1,phone,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
0,0,Alabaster,AL,1114 1st St N,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,1,0,1,1,0,0
1,1,Albertville,AL,8171 US Highway 431,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,1,1,1,0,0,0
2,2,Athens,AL,1700 US Highway 72 E,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,1,1,1,1,0,0
3,3,Auburn,AL,171 N College St,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,0,0,1,1,0,0
4,4,Auburn,AL,2049 S College St,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9243,9243,Whitefish Bay,WI,106 W Silver Spring Dr,(414) 284-7608,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 4:00 PM,0,0,1,1,0,0
9244,9244,Wisconsin Dells,WI,2415 Wisconsin Dells Pkwy,(608) 253-5353,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,1,1,1,1,0,0
9245,9245,Wisconsin Dells,WI,69 Commerce St,(608) 350-9029,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,1,1,1,1,0,0
9246,9246,Wisconsin Rapids,WI,2121 8th St S,(715) 204-5260,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,1,0,1,1,0,0
9247,9247,FE Warren AFB,WY,6305 Missile Dr,(307) 637-2818,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,1,1,1,1,0,0

In [80]:
df_new.drop('phone', inplace=True, axis=1)
df_new.head(2)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,row_id,city,state,address_line_1,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
0,0,Alabaster,AL,1114 1st St N,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,1,0,1,1,0,0
1,1,Albertville,AL,8171 US Highway 431,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,1,1,1,0,0,0

In [81]:
df

,row_id,address_line_1,address_line_2,city,state,zip,phone,mon_hrs,tue_hrs,wed_hrs,...,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins,loc_lat,loc_long
0,0,1114 1st St N,Suite 200,Alabaster,AL,35007,(205) 624-4880,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,False,True,True,False,False,NaN,NaN
1,1,8171 US Highway 431,NaN,Albertville,AL,35950,(256) 869-6075,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,...,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,True,True,True,False,False,True,NaN,NaN
2,2,1700 US Highway 72 E,NaN,Athens,AL,35611,(256) 960-9302,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,True,True,True,False,False,34.781698,-86.934524
3,3,171 N College St,NaN,Auburn,AL,36830,(334) 707-8552,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,...,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,False,False,True,True,False,False,32.608800,-85.481849
4,4,2049 S College St,NaN,Auburn,AL,36832,(334) 501-2233,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,True,True,True,True,False,False,32.567323,-85.501589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9243,9243,106 W Silver Spring Dr,Ste A,Whitefish Bay,WI,53217,(414) 284-7608,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,...,6:00 AM - 6:00 PM,6:00 AM - 4:00 PM,False,False,True,True,False,False,NaN,NaN
9244,9244,2415 Wisconsin Dells Pkwy,NaN,Wisconsin Dells,WI,53965,(608) 253-5353,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,...,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False,43.625933,-89.787100
9245,9245,69 Commerce St,NaN,Wisconsin Dells,WI,53965,(608) 350-9029,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,...,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,True,True,True,True,False,False,NaN,NaN
9246,9246,2121 8th St S,NaN,Wisconsin Rapids,WI,54494,(715) 204-5260,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,...,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,True,False,True,True,False,False,44.375934,-89.816898
9247,9247,6305 Missile Dr,NaN,FE Warren AFB,WY,82005,(307) 637-2818,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,...,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,True,True,True,True,False,True,NaN,NaN

In [82]:
df_new

,row_id,city,state,address_line_1,mon_hrs,tue_hrs,wed_hrs,thu_hrs,fri_hrs,sat_hrs,sun_hrs,drive-thru,mobile-order,dunkin-card,kcup,curbside-pickup,has-baskin-robbins
0,0,Alabaster,AL,1114 1st St N,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,6:00 AM - 8:00 PM,1,0,1,1,0,0
1,1,Albertville,AL,8171 US Highway 431,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 9:00 PM,5:00 AM - 10:00 PM,5:00 AM - 10:00 PM,5:00 AM - 9:00 PM,1,1,1,0,0,0
2,2,Athens,AL,1700 US Highway 72 E,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,1,1,1,1,0,0
3,3,Auburn,AL,171 N College St,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,0,0,1,1,0,0
4,4,Auburn,AL,2049 S College St,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,6:00 AM - 8:00 PM,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9243,9243,Whitefish Bay,WI,106 W Silver Spring Dr,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 6:00 PM,6:00 AM - 4:00 PM,0,0,1,1,0,0
9244,9244,Wisconsin Dells,WI,2415 Wisconsin Dells Pkwy,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,1,1,1,1,0,0
9245,9245,Wisconsin Dells,WI,69 Commerce St,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,5:30 AM - 8:00 PM,1,1,1,1,0,0
9246,9246,Wisconsin Rapids,WI,2121 8th St S,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,5:00 AM - 8:00 PM,1,0,1,1,0,0
9247,9247,FE Warren AFB,WY,6305 Missile Dr,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 5:00 PM,6:00 AM - 3:00 PM,6:00 AM - 3:00 PM,8:00 AM - 3:00 PM,8:00 AM - 3:00 PM,1,1,1,1,0,0